<script type="text/ng-template" id="table.html">
    <div class="container" id="table">
        <h3>Stored image details</h3>           
        <table class="table">
            <thead>
                <tr>
                    <th>Thumbnail</th>
                    <th>Upper-left</th>
                    <th>Lower-right</th>
                    <th>Max iterations</th>
                    <th>Color 1</th>
                    <th>Color 2</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in mandelbrots">
                    <td></td>
                    <td>{{ x.xstart + ", " + x.ystart }}</td>
                    <td>{{ x.xend + ", " + x.yend }}</td>
                    <td>{{ x.maxIterations }}</td>
                    <td>{{ x.rstart + ", " + x.gstart + ", " + x.bstart }}</td>
                    <td>{{ x.rend + ", " + x.gend + ", " + x.bend }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</script>